<%= form_with(model: @local_station, local: true) do |form| %>

  <div class="field">
    <%= form.label :line %>
    <%= form.text_area :line %>
  </div>

  <div class="field">
    <%= form.label :station %>
    <%= form.text_area :station %>
  </div>

  <div class="field">
    <%= form.label :distance %>
    <%= form.text_area :distance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
