<p id="notice"><%= notice %></p>

<h1>Local Stations</h1>

<table>
  <thead>
    <tr>
      <th>Line</th>
      <th>Station</th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_stations.each do |local_station| %>
      <tr>
        <td><%= local_station.line %></td>
        <td><%= local_station.station %></td>
        <td><%= local_station.distance %></td>
        <td><%= link_to 'Show', local_station %></td>
        <td><%= link_to 'Edit', edit_local_station_path(local_station) %></td>
        <td><%= link_to 'Destroy', local_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local Station', new_local_station_path %>
