<p id="notice"><%= notice %></p>

<p>
  <strong>Line:</strong>
  <%= @local_station.line %>
</p>

<p>
  <strong>Station:</strong>
  <%= @local_station.station %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @local_station.distance %>
</p>

<%= link_to 'Edit', edit_local_station_path(@local_station) %> |
<%= link_to 'Back', local_stations_path %>
