<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.text_area :rent %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_area :age %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>


  <h4>最寄り駅</h4>
  <%= form.fields_for :local_stations do |local_station| %>
  <%= local_station.hidden_field :property_id, :value => property.id %>

    <%= form.label :line %>
    <%= local_station.text_field :line %>線<br>

    <%= form.label :station %>
    <%= local_station.text_field :station %>駅<br>

    <%= form.label :distance%>
    <%= local_station.text_field :distance %>分<br>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
